
$primary: #3f51b5;

.-dropdown-language-icon-style {
  position: absolute;
  right: 30px;
  top: 40px;
  z-index: 111;
  .icon-language {
    color: $primary;
  }
  cursor: pointer;
}

.dropdown-language-icon {
  position: relative;
}

.atlwdg-trigger {
  display: none !important;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.ant-layout-header {
  display: none !important;
  &.ant-pro-fixed-header {
    display: block !important;
    z-index: 150 !important;
  }
}
[class*='ant-pro-basicLayout-content'] {
  margin-top: 68px;
}
img {
  max-width: 100%;
}
.mt-80 {
  margin-top: 80px;
}

.ant-input::placeholder,
.ant-select-selection-placeholder,
.ant-picker-input input::placeholder,
.ant-input-number-input::placeholder {
  color: #a1a7c4 !important;
}

.ant-modal {
  padding-left: 15px;
  padding-right: 15px;
}

.font-weight {
  &-normal {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-bold {
    font-weight: 600;
  }
}
.ant-pro-global-header-logo a img {
  height: auto;
  max-width: 220px;
}
.bvc-wrapper {
  &:not(.admin-view) {
    .ant-layout-header {
      &.app-header {
        box-shadow: 0px 1px 4px rgba(21, 34, 50, 0.08);
      }
    }
  }
}
.ant-layout {
  min-height: 100vh;
  &-header {
    @extend .bg-white, .w-100;
    z-index: 2;
    box-shadow: none;
    &.app-header {
      @extend .d-flex;
      padding-left: 30px;
      padding-right: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
    .app-header-right {
      margin-left: auto;

      .loggedin-user-dd {
        & > a {
          @extend .font-weight-medium, .d-block;
          color: #262626;

          .ant-avatar,
          .anticon {
            margin: 0 5px;
          }

          .anticon {
            &-down {
              color: #8c8c8c;
            }
          }
        }
      }
    }
  }

  &-sider {
    background: #f5f6fa;
    box-shadow: inset -1px 0px 0px #d7dbec;
    bottom: 0;
    &.ant-pro-sider {
      .ant-menu {
        @extend .border-0, .bg-transparent;
        padding: 16px;
        position: relative;
        &-item {
          a {
            color: #5a607f;
          }
          border-radius: 4px;
          padding: 6px 16px;
          height: 40px;
          line-height: 28px;
          .anticon {
            font-size: 18px;
            line-height: 30px;
            vertical-align: sub;
          }
          &-selected {
            background-color: #5293c8;
            color: #fff;
            a {
              color: #fff;
            }
          }
          &::after {
            border-color: transparent;
          }
        }
      }
      .ant-pro-sider-links {
        .ant-menu {
          @extend .border-0, .bg-transparent;
          padding: 16px;
          position: relative;
          height: 40px !important;
          margin-bottom: 0 !important;
          min-height: 40px;
          max-height: 40px !important;
          &.ant-menu-inline-collapsed {
            .ant-menu-title-content {
              padding-right: 0px !important;
            }
          }
        }
      }
    }
    .ant-pro-sider-links {
      .ant-menu {
        padding: 0 !important;
        &-item {
          margin: 0;
        }
      }
    }
  }

  .main-content {
    max-height: 100%;
  }

  &-sider + .bvc-content-area {
    padding-left: 274px;
  }

  &.guest-layout {
    .ant-layout-content {
      @extend .d-flex, .align-items-center, .position-relative;
    }
  }
}

.ant-form-item-explain,
.ant-form-item-extra {
  font-size: 11px;
}
.heading-style {
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: #131523 !important;
}
.text-style {
  @extend .font-weight-normal;
  font-size: 0.875rem !important;
  color: #5a607f !important;
}

ul.ant-table-pagination {
  padding: 0 1rem;
}

.filters-wrapper {
  .actions {
    display: flex;
    align-items: center;
    button {
      &.ant-btn {
        border-radius: 2px;
      }
      & + button {
        margin-left: 0.5rem;
      }
    }
  }
}
.card-filters-wrapper {
  background: #fff;
}
button.ghost-clear-btn {
  background: #ffeeec !important;
  border: 1px solid #e25141 !important;
  color: #e25141 !important;
  &.disabled {
    border-color: #ebebe4 !important;
    background-color: 1px solid #ebebe4 !important;
    color: #c6c6c6 !important;
  }
}
button.ghost-primary-btn {
  background: #f9faff !important;
}
th.table-action {
  color: #5293c8 !important;
}
.table-action {
  text-align: center !important;
}
.archive-link {
  color: #5293c8 !important;
}
.download-link:not(.ant-btn[disabled]) {
  color: #3f51b5 !important;
}

td.table-action {
  display: flex;
  justify-content: center;
  button {
    padding: 0 0.5rem;
    & + button {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: 14px;
        width: 1px;
        background: #d7d4e8;
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.search-input-style {
  padding: 4px 16px;
  background: #f4f4f4;
  border-radius: 4px;
  font-size: 14px;
  border: 0;
  input {
    background: #f4f4f4;
  }
}

.multi-select.ant-select-multiple {
  .ant-select-selection-placeholder {
    left: 15px;
  }
}

.radio-wrapper {
  border: 1px solid #d9e1ec;
  border-radius: 5px;
  padding: 1rem;
}


.ant-radio-wrapper {
  .ant-radio {
    .ant-form-item input[type='radio'] {
      width: 20px;
      height: 20px;
    }
    .ant-radio-inner {
      width: 20px;
      height: 20px;
      background-color: #f5f6fa;
    }
    &.ant-radio-checked {
      .ant-radio-inner {
        background-color: #3f51b5;
        &::after {
          width: 16px;
          height: 16px;
          margin-top: -8px;
          margin-left: -8px;
          background-color: #fff;
        }
      }
    }
  }
}

.ant-menu {
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%) !important;
}

// breadcrumbs style

.has-breadcrumb {
  padding: 1rem 1.5rem !important;
  .ant-breadcrumb {
    margin-bottom: 1rem;
    .ant-breadcrumb-link {
      font-weight: normal;
      font-size: 14px;
      color: #3f51b5;
    }
    .active {
      font-weight: normal;
      font-size: 14px;
      color: #161616;
    }
  }
  .ant-page-header-heading {
    margin: 0 !important;
    .ant-page-header-heading-left {
      margin: 0;
      .ant-page-header-heading-title {
        line-height: 2;
        font-weight: 500;
        font-size: 20px;
        color: #161616;
      }
      .icon-left-arrow {
        color: #7e84a3;
        font-size: 12px;
      }
    }
  }
}

.range-picker-style {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border: none;
  height: 40px;

  input {
    font-size: 14px !important;
  }
}

.loading-spin {
  position: fixed !important;
  height: 100vh !important;
  width: 100vw !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: block !important;
  z-index: 1111221 !important;
}

.assessments-pageheader-wrapper {
  margin: 0;
}

.bc-icon-style {
  padding-top: 3px;
}

.select-with-icon {
  position: relative;
  .ant-select-arrow {
    width: 17px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }
}
.default-language {
  display: flex;
  align-items: center;
}
.color-blue * {
  color: blue !important;
}
.edit-transLation-style {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  min-height: 33px;
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  word-break: break-all;
  margin-bottom: 0;
  i.icon-language {
    position: absolute;
    right: 10px;
  }
}

.e-card-title-p {
  position: relative;
  width: 100%;
  .email-text-card {
    padding-right: 2rem;
  }
  .edit-text-icon-wrapper {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
  }
}
.checkbox-text-ellipses {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  display: block;
}

.add-role-transfer-wrapper span.ant-transfer-list-header-dropdown {
  display: none;
}
.lt-error-message {
  display: block;
  margin-left: 270px;
  color: red;
}

.html-code-style {
  border: 1px solid #050505;
  border-radius: 2px;
}
.html-code-heading {
  margin-top: 1rem;
  font-weight: 600;
}
.toggle-editor-code {
  font-size: 12px;
  border-color: #f1f1f1;
  padding: 3px 6px;
  color: #7f7f7f;
}
.background-uploder-add-delete-icon {
  position: relative;
  .color-delete-icon {
    position: absolute;
    top: 50%;
    color: red;
    right: 10px;
    background: #f7f7f7;
    padding: 4px;
    border-radius: 4px;
    font-size: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.logo-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 14px;
  height: 14px;
  color: #e57070;
  font-size: 8px;
  border-radius: 100%;
  background-color: #fff;
}
.close-icon-small-logo {
  font-size: 8px !important;
  height: 10px !important;
  width: 10px !important;
  top: 1px !important;
  right: 1px !important;
}

.table-inner-scroll {
  &.admin-users-modal-table {
    .ag-body-viewport.ag-layout-auto-height {
      max-height: calc(100vh - 428px);
      overflow-y: auto;
    }
    .ag-header.ag-pivot-off {
      background-color: #fafafa;
    }
    .table-page-input-number {
      &.modal-table-input {
        left: 10px;
      }
    }
  }
}

// This is for the Jira feedback collector
.atlwdg-trigger.atlwdg-TOP {
  z-index: 150;
  bottom: 250px;
  right: -43px;
  left: auto !important;
  top: auto !important;
  position: fixed;
  transform: rotate(270deg);
}
.page-not-found-wrapper {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  .page-not-found-text {
    margin-bottom: 1rem;
  }
}

// required mark row reverse
.required-mark-row-reverse {
  .ant-form-item-required {
    flex-direction: row-reverse;
  }
}
.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  margin-left: 2px;
}
